@model GaleryArt.Models.Obra

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Obra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manifestacione.nombre_manifestacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manifestacione.nombre_manifestacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnica1.nombre_tecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnica1.nombre_tecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_obra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_obra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.path_foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.path_foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
